.preview,
.image,
.image .inner,
.content,
.statuses,
.statuses li {
	display: flex;
	flex-direction: column;
}

.preview {
	width: 100%;
	max-width: 42rem;
	background-color: #1b1938;
	margin: 3rem 0 6rem;
	border-radius: 8px;
	overflow: hidden;
}

.image .inner {
	position: relative;
	height: 0;
	padding-bottom: 76%;
	background-color: #aa5cdb;
}

.image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	mix-blend-mode: multiply;
	opacity: 0.75;
}

.content {
	padding: 4rem 2.4rem;
	text-align: center;
}

.title {
	margin-bottom: 1.6rem;
}

.desc {
	margin-bottom: 3.6rem;
}

.statuses {
	gap: 3rem;
}

.statuses li {
	gap: 0.2rem;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.statuses .num {
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
}

.statuses .label {
	letter-spacing: 0.8px;
}

@media (min-width: 65em) {
	.preview {
		flex-direction: row-reverse;
		max-width: 111rem;
	}

	.image,
	.content {
		flex-shrink: 0;
		flex-basis: 50%;
		max-width: 50%;
	}

	.image .inner,
	.image img {
		position: static;
	}

	.image .inner {
		flex: auto;
		height: auto;
		padding-bottom: 0;
	}

	.content {
		padding: 7rem;
		text-align: left;
	}

	.title {
		font-size: 3.6rem;
		margin-bottom: 2.2rem;
	}

	.desc {
		max-width: 37rem;
		margin-bottom: 6rem;
	}

	.statuses {
		flex-direction: row;
	}

	.statuses li {
		min-width: 11.2rem;
	}
}
